$body-background-color: #f5f1e8;
$sidebar-color: #efe9dd;
$border-color: #e1d7c7;

$body-text-color: #1f1b16;
$body-heading-color: #16130f;
$link-color: #0b6a66;
$nav-child-link-color: #3d352b;
$search-result-preview-color: #6a6156;

$code-background-color: #f0e8db;
$code-text-color: #2a1f14;
$feedback-color: #2f6f6b;
$base-button-color: #e8dfcf;
